header {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    z-index: 500;
    padding: 0;
    box-shadow: 2px 10px 14px -6px rgba(0, 0, 0, 0.38);
}


/* =============== Header Contact ================== */

.header-contact {
    background: var(--primary-color);
    padding: 10px 0;
}

.header-contact ul {
    list-style: none;
    margin-bottom: 0;
}

.header-address-list li p {
    color: var(--black-color);
    margin-bottom: 0;
    transition: all 0.5s ease;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.header-address-list li p:hover {
    color: var(--white-color);
    cursor: pointer;
}


.header-contact ul li a {
    text-decoration: none;
    color: var(--black-color);
}

.header-social-icon {}

.header-social-icon li {}

.header-social-icon li a {
    transition: all 0.5s ease;
}

.header-social-icon li a:hover {
    color: var(--white-color);
}


/* =============== Navbar ================== */

header .navbar {
    background: transparent !important;
}

.nav-logo {
    width: 10%;
}

.nav-menu, .admin-link {
    margin: 0 10px;
    /* color: #ffffff !important; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px !important;
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

.nav-menu:hover {
    color: var(--primary-color) !important;
}

.call-now {
    /* color: rgb(255, 255, 255) !important; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px !important;
    font-weight: 700;
    transition: all 0.5s ease;

}

.call-now-icon {
    color: var(--primary-color) !important;
    transition: all 0.5s ease !important;
}

.call-now-text span{
    transition: all 0.5s ease;

}

.call-now:hover .call-now-text span{
    color: var(--primary-color) !important;
}

.call-now:hover .call-now-icon {
    color: var(--secondary-color) !important;
}