.team-card {
    border: none !important;
    border-radius: 10px !important;
}
.team-card img{
    border-radius: 10px 10px 0 0 !important;
}

.team-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.team-card-text {
    color: var(--secondary-color);

}