.service-card {
    border: none !important;
    transition: all 0.3s ease;
}

.service-card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.service-card:hover .service-card-img{
    /* background-color: var(--secondary-color); */
}

.service-card:hover .service-card-title{
    color: var(--primary-color);
}

.service-card-title {
    font-weight: 700;
    font-size: 1.6rem;
    transition: all 0.4s ease;
    color: var(--black-color);
}

.service-card-text {
    color: var(--secondary-color);
}

.service-card-img {
    background: var(--primary-color);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.service-card-img img {
    width: 70%;
}

.service-card .card-body a {
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-color);
    transition: all 0.5s;
}

.service-card .card-body a:hover {

    color: var(--black-color);
}


/* ========================================== */
/* Responsive */
/* ========================================== */
@media (min-width: 320px) {  }

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }