.review-body {
    background-color: #f4f4f4;
    height: 100%;
}

.review-title {
    color: var(--primary-color);
}

.review-submit-btn {
    border: 1px solid transparent;
}
.review-submit-btn:hover {
    border: 1px solid var(--primary-color);
}